*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-blue : #351c75;
    --purple : #bd60e7;
    --start-btn-text : #d5d1e3;
    --input-border : #77a9d7;
    --high-score-light-color : #d9d3e9;
    --answer-response-color : #9f9f9f;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}
.page-content{
    width: 80%;
    height: 80vh;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 40px;
}
.page-high-score{
    color: var(--purple);
    position: absolute;
    top: 30px;
    cursor: pointer;
}
.time{
    position: absolute;
    top: 30px;
    right: 40px;
}
.heading-box{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.heading{
    font-weight: bold;
    margin-bottom: 30px;
}
.start-btn{
    padding: 10px 20px;
    color: var(--start-btn-text);
    background-color: var(--dark-blue);
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}
.questionsBox{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.question{
    font-weight:1000;
}
.options-list{
    list-style: none;
}
.options{
    color: var(--start-btn-text);
    background: var(--dark-blue);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    cursor: pointer;
}
.options:hover{
    background: var(--purple);
}

.result,
.high-score{
    position: absolute;
    margin: auto;
    top: 25%;
    left: 25%;
    line-height: 2;
    letter-spacing: 0.8px;
}
.result-heading{
    font-weight:1000;
}

.flex-box{
    display: flex;
    align-items: center;
}
.font-size{
    font-size: 16px;
}
.input{
    margin: 15px;
    border: 2px solid gray;
    padding: 6px;
    outline: none;
}
.input:focus{
    border: 3px solid var(--input-border);
}
.submit-btn,
.go-back-btn,
.clear-high-score-btn{
    background: var(--dark-blue);
    color: var(--start-btn-text);
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    margin: 0 10px 0 0;
}
.submit-btn:hover,
.go-back-btn:hover,
.clear-high-score-btn:hover{
    background: var(--purple);
}

.high-score-text{
    background: var(--high-score-light-color);
    padding: 0 10px;
    width: 500px;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.answer-response{
    color: var(--answer-response-color);
    position: absolute;
    bottom: 20%;
    width: 50%;
    left: 25%;
    font-style: italic;
    font-size: 2rem;
    display: none;
}
.answer-response hr{
    border: 2px solid var(--answer-response-color);
}